@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: oswald;
  font-weight: 500;
  font-size: 15px;
}
h1,
h2,
h3,
h4 {
  font-family: "oswald";
}
h2 {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 2px;
}
h2::after {
  content: "";
  background: #fe3f40;
  display: block;
  height: 2px;
  width: 45px;
  margin: 18px auto 5px;
}
.intro {
  color: #fff;
  background-color: #0d6efd !important;
  background-size: cover;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  background-position: center;
}
.intro h1 {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 50px;

  text-shadow: 6px 4px 3px rgba(0, 0, 0, 0.3);
}
.intro p {
  margin-bottom: 0;
  color: #fff;
}
.bg-dark {
  background-color: #f2f2f2 !important;
}
.section {
  padding: 100px 0;
}
.bg-light {
  background-color: #fff !important;
}
.intro h1,
.intro h2,
.intro h3,
.intro h4 {
  color: #fff;
}
.nav-link.active {
  color: #fe3f40 !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #777;
  font-weight: 400;
  text-transform: uppercase;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 17px !important;
}
p {
  font-weight: 400;
  color: #777;
  font-family: roboto;
}
h3 {
  font-size: 18px;
  margin-top: 10px;
}
.card-title a {
  font-size: 14px;
  color: #212529;
  text-decoration: none;
}
.image {
  display: inline-block;
  text-align: center;
  width: 100%;
  /* float: left; */
}
.footer {
  background: #091b29;
  color: #798996;
  text-align: center;
  line-height: 1.6;
}
.footer h3 {
  font-size: 18px;
  color: #fff;
  margin-top: 0;
}
.social-icons {
  padding: 0px 15px;

  font-size: 17px;
}
.copyright {
  background: #05111d;
  padding: 12px 0px;

  color: #798996;
  margin-top: 20px;
}
.navbar {
  padding: 16px 0;
}
/*.navbar-brand 
{
	padding:10px 0;
}*/
.know-text {
  color: #fe3f40;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}
.fa-angle-double-right {
  padding-left: 5px;
  font-size: 16px;
}
.card-box {
  height: 259px;
}

.outsource .source-filter {
  /*background-color: rgba(20,21,21,.95);*/
  padding: 50px 30px 60px 30px;
  background: rgba(0, 0, 0, 0.8);
}
.outsource .source-filter h3 {
  color: #fe3f40;
  text-transform: uppercase;
  margin-top: 0;
  font-size: 24px;
}
.outsource .source-filter p {
  color: #fff;
  font-weight: 400;
}
.outsource .source-filter .hm {
  height: 179px;
}
.clients-1 img {
  max-width: 70% !important;
}
.image {
  border-radius: 7px;
}
.text-danger {
  color: #fe3f40;
}

.testimonials .card {
  border: none;
}
.testimonials .card h3 {
  font-size: 22px;
}
.testimonials .card .job {
  margin-bottom: 19 px;
  font-style: italic;
  font-size: 14px;
  color: #555;
  opacity: 0.6;
}
.job-des {
  line-height: 22px;
}
.co-block {
  height: 376px;
}
.clients img {
  max-width: 45%;
}
.icon img {
  width: 70px;
  border-radius: 10px;
}
.readmore a {
  color: #fe3f40;
  text-decoration: none;
}
.rating {
  color: #fe3f40;
}
.mobile-h5 {
  font-size: 15px;
}
.phone {
  color: #fe3f40;
  text-decoration: none;
}
.testimonials .card {
  border: none;
}
.testimonials .card h3 {
  font-size: 19px;
}
.testimonials .card .job {
  margin-bottom: 19 px;
  font-style: italic;
  font-size: 14px;
  color: #555;
  opacity: 0.6;
}
.job-des {
  line-height: 22px;
  margin-bottom: 10px;
}
.ts-img {
  border-radius: 50%;
  margin: 0 auto;
  width: 100px;
}
.test-des {
  color: #444444;
}
.client-desc {
  color: #444444;
}
.co-block-1 {
  height: 364px;
}
.form-color {
  color: #8e959b;
}
/* .dm-services {
  background-color: rgba(255, 255, 255, 0);
  background-position: center center;
  background-repeat: no-repeat;
  border-width: 0px;
  border-color: rgb(234, 233, 233);
  border-style: solid;
  background-size: cover;
  background-image: url("../images/bg-service.jpg");
} */
.dm-services h2 {
  color: #fff;
  text-align: center;
}
.dm-services .sm-title {
  font-size: 22px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .client-name {
    margin-left: 29px !important;
  }
  .media-icons {
    margin-left: 13px !important;
  }
  .section {
    padding: 50px 0;
  }
  .co-block {
    height: 320px;
  }
  .intro {
    height: auto;
    padding: 75px 0;
  }
  .intro h1 {
    font-size: 23px;
  }
  .intro p {
    font-size: 12px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 13px;
  }
  .mobile {
    text-align: left !important;
  }
  .c-1 {
    margin-top: 31px !important;
  }
  .clients img {
    max-width: 62% !important;
  }
  .icon img {
    width: 45px !important;
  }
  .navbar-brand img {
    height: 50px !important;
  }
  .mobile-h5 {
    font-size: 12px;
  }
  .readmore {
    text-align: left !important;
  }
  .mobile-r {
    margin-bottom: 35px;
  }
  .card-title a {
    font-size: 11px;
  }
  .co-block-1 {
    height: 340px;
  }
  .navbar-light .navbar-toggler {
    border-color: transparent !important;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
}
@media (max-width: 370px) {
  .mobile-r {
    margin-bottom: 18px;
  }
  .card-title a {
    font-size: 13px;
  }
}
